# Setup

In [7]:
from lemon.core.account import Account
from lemon.core.market import MarketData
from lemon.core.orders import  Order
from lemon.client.auth import credentials
from lemon.common.enums import TRADING_TYPE, VENUE, ORDERSIDE

from pandas import DataFrame
from datetime import datetime

In [8]:
cred = credentials()
acc = Account(credentials=cred)

## Account

In [3]:
acc.balance

950200000

In [4]:
acc.positions()

,isin,isin_title,quantity,buy_price_avg,estimated_price_total,estimated_price
0,US88160R1014,TESLA INC.,2,9610500,20060000,10030000
1,US02079K3059,ALPHABET INC.,1,25450000,25805000,25805000

In [10]:
withdrawals = acc.withdrawals()
DataFrame(withdrawals)

,id,amount,created_at,date,idempotency
0,wtd_qyGHYQQ445BJSMQXytxZ3MX1xzmKJfPy9y,100000,2022-04-05T19:12:44.639+00:00,None,None
1,wtd_qyFjZhh889PJsXFjgK0snMPlNwB6J6ytQ3,100000,2022-03-27T20:26:48.547+00:00,None,None
2,wtd_pyQhdXXDDHsr556LmHJcS4XPR8SDLSw9sG,1000000,2021-12-26T23:18:52.708+00:00,2021-12-26,None
3,wtd_pyQhdXXmm0nKfcGNm7zFtNhHdNX4ycKyxn,1000000,2021-12-26T23:18:29.631+00:00,2021-12-26,None
4,wtd_pyQgX77666qmmXGC95TmR9XbpbL4LYZczp,1500000,2021-12-25T18:48:46.833+00:00,2021-12-25,None
5,wtd_pyQgX77PPG2ZtBlZ5q3zpkLqy4FKKR6Zrm,1000000,2021-12-25T18:48:11.235+00:00,2021-12-25,None

In [12]:
acc.withdraw(amount=10000, pin=1234)

In [26]:
bankstatements = acc.bankstatements()
DataFrame(bankstatements)

,id,account_id,type,date,amount,isin,isin_title,created_at,quantity
0,bst_qyGHCwwHHhP9FPwStS85mhdH1577rjjXVC,acc_pyQbNkkppDjw2zbx61GBkkdJ7NMCLdFhPw,eod_balance,2022-04-04,960450000,None,None,2022-04-05T01:37:04.543+00:00,None
1,bst_qyGHCwwHHhPPrkdx4scLrDY1MN7sCp3ctb,acc_pyQbNkkppDjw2zbx61GBkkdJ7NMCLdFhPw,order_buy,2022-04-04,25450000,US02079K3059,ALPHABET INC.,2022-04-05T01:37:04.543+00:00,None

## Trading

In [16]:
ord = Order(isin="US88160R1014", quantity=1,side=ORDERSIDE.BUY,venue=VENUE.ALLDAY,expires_at=datetime.fromisoformat("2022-04-30"))
ord.place()

In [18]:
ord.cancel()

In [17]:
ord.activate()

In [28]:
orders = acc.orders()
DataFrame([o.to_dict() for o in orders])

,trading_type,isin,side,quantity,venue,stop_price,limit_price,notes,expires_at,idempotency,...,executed_price_total,activated_at,executed_at,rejected_at,cancelled_at,charge,chargeable_at,key_creation_id,key_activation_id,regulatory_information
0,paper,US88160R1014,buy,1,allday,NaN,NaN,None,2022-04-29T21:59:00+00:00,None,...,10010000.0,2022-04-05T19:58:44.881000+00:00,2022-04-05T19:58:45.024000+00:00,None,None,0,2022-04-05T19:58:45.024000+00:00,apk_qyFnRyyxxjYq59j8NFmw97JrtNmdt90jYJ,apk_qyFnRyyxxjYq59j8NFmw97JrtNmdt90jYJ,"{'KIID': 'text', 'costs_exit': 0.0, 'costs_ent..."
1,paper,US88160R1014,buy,1,allday,NaN,NaN,None,2022-04-29T21:59:00+00:00,None,...,0.0,None,None,None,None,0,None,apk_qyFnRyyxxjYq59j8NFmw97JrtNmdt90jYJ,None,"{'KIID': 'text', 'costs_exit': 0.0, 'costs_ent..."
2,paper,US88160R1014,buy,1,allday,NaN,NaN,None,2022-04-29T21:59:00+00:00,None,...,10050000.0,2022-04-05T19:18:27.467000+00:00,2022-04-05T19:18:27.619000+00:00,None,None,0,2022-04-05T19:18:27.619000+00:00,apk_qyFnRyyxxjYq59j8NFmw97JrtNmdt90jYJ,apk_qyFnRyyxxjYq59j8NFmw97JrtNmdt90jYJ,"{'KIID': 'text', 'costs_exit': 0.0, 'costs_ent..."
3,paper,US88160R1014,buy,1,allday,NaN,NaN,None,2022-04-29T21:59:00+00:00,None,...,0.0,None,None,None,None,0,None,apk_qyFnRyyxxjYq59j8NFmw97JrtNmdt90jYJ,None,"{'KIID': 'text', 'costs_exit': 0.0, 'costs_ent..."
4,paper,US88160R1014,buy,1,allday,NaN,NaN,None,2022-04-29T21:59:00+00:00,None,...,0.0,None,None,None,None,0,None,apk_qyFnRyyxxjYq59j8NFmw97JrtNmdt90jYJ,None,"{'KIID': 'text', 'costs_exit': 0.0, 'costs_ent..."
5,paper,US02079K3059,buy,1,xmun,NaN,NaN,None,2022-04-04T21:59:00+00:00,None,...,25450000.0,2022-04-02T19:36:34.952000+00:00,2022-04-04T06:01:21.205000+00:00,None,None,0,2022-04-04T06:01:21.205000+00:00,apk_qyFnRyyxxjYq59j8NFmw97JrtNmdt90jYJ,apk_qyFnRyyxxjYq59j8NFmw97JrtNmdt90jYJ,"{'KIID': 'text', 'costs_exit': 0.0, 'costs_ent..."
6,paper,US0378331005,buy,1,xmun,NaN,NaN,market,2022-04-01T21:59:00+00:00,None,...,0.0,None,None,None,None,0,None,apk_qyFnRyyxxjYq59j8NFmw97JrtNmdt90jYJ,None,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
7,paper,US0378331005,buy,1,xmun,1500000.0,1700000.0,limit,2022-04-01T21:59:00+00:00,None,...,0.0,None,None,None,None,0,None,apk_qyFnRyyxxjYq59j8NFmw97JrtNmdt90jYJ,None,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
8,paper,US0378331005,buy,1,xmun,NaN,1700000.0,limit,2022-04-01T21:59:00+00:00,None,...,0.0,None,None,None,None,0,None,apk_qyFnRyyxxjYq59j8NFmw97JrtNmdt90jYJ,None,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
9,paper,US0378331005,buy,1,xmun,1700000.0,NaN,stop,2022-04-01T21:59:00+00:00,None,...,0.0,None,None,None,None,0,None,apk_qyFnRyyxxjYq59j8NFmw97JrtNmdt90jYJ,None,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
10,paper,US02079K3059,buy,1,xmun,NaN,NaN,None,2022-04-01T21:59:00+00:00,None,...,0.0,None,None,None,None,0,None,apk_qyFnRyyxxjYq59j8NFmw97JrtNmdt90jYJ,None,"{'KIID': 'text', 'costs_exit': 0.0, 'costs_ent..."
11,paper,US0231351067,buy,1,xmun,NaN,NaN,None,2022-03-29T21:59:00+00:00,None,...,0.0,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 0.0, 'costs_ent..."
12,paper,US88160R1014,buy,1,allday,NaN,NaN,None,2022-03-25T21:59:00+00:00,None,...,0.0,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 0.0, 'costs_ent..."
13,paper,US88160R1014,buy,1,allday,NaN,NaN,None,2022-03-25T21:59:00+00:00,None,...,9171000.0,2022-03-27T20:16:02.950000+00:00,2022-03-27T20:16:03.138000+00:00,None,None,0,2022-03-27T20:16:03.138000+00:00,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,"{'KIID': 'text', 'costs_exit': 0.0, 'costs_ent..."
14,paper,US88160R1014,buy,1,allday,NaN,NaN,None,2022-03-25T21:59:00+00:00,None,...,0.0,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 0.0, 'costs_ent..."
15,paper,US88160R1014,buy,1,allday,NaN,NaN,None,2022-03-25T21:59:00+00:00,None,...,0.0,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 0.0, 'costs_ent..."
16,paper,US88160R1014,buy,1,allday,NaN,NaN,None,2022-03-25T21:59:00+00:00,None,...,0.0,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 0.0, 'costs_ent..."
17,paper,US88160R1014,buy,1,allday,NaN,NaN,None,2022-03-25T21:59:00+00:00,None,...,0.0,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 0.0, 'costs_ent..."
18,paper,US88160R1014,buy,1,allday,NaN,NaN,None,2022-03-25T21:59:00+00:00,None,...,0.0,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 0.0, 'costs_ent..."
19,paper,US88160R1014,buy,1,allday,NaN,NaN,None,2022-03-25T21:59:00+00:00,None,...,0.0,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 0.0, 'costs_ent..."
20,paper,US19260Q1076,buy,1,xmun,NaN,NaN,None,2022-03-29T21:59:00+00:00,None,...,0.0,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
21,paper,US02079K3059,buy,1,xmun,NaN,100.0,Api Test,2021-12-30T22:59:00+00:00,None,...,NaN,2021-12-30T13:21:12.263000+00:00,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
22,paper,US02079K3059,buy,1,xmun,NaN,100.0,Api Test,2021-12-30T22:59:00+00:00,None,...,NaN,2021-12-30T13:17:27.954000+00:00,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
23,paper,US02079K3059,buy,1,xmun,NaN,100.0,Api Test,2021-12-30T22:59:00+00:00,None,...,NaN,2021-12-30T12:50:31.984000+00:00,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
24,paper,US02079K3059,buy,1,xmun,NaN,100.0,Api Test,2021-12-30T22:59:00+00:00,None,...,NaN,2021-12-30T12:49:46.213000+00:00,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
25,paper,US02079K3059,buy,1,xmun,NaN,100.0,Api Test,2021-12-30T22:59:00+00:00,None,...,NaN,2021-12-30T12:36:41.667000+00:00,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
26,paper,US02079K3059,buy,1,xmun,NaN,100.0,Api Test,2021-12-30T22:59:00+00:00,None,...,NaN,2021-12-30T12:23:26.394000+00:00,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
27,paper,US88160R1014,buy,1,xmun,NaN,100.0,Api Test,2021-12-30T22:59:00+00:00,None,...,NaN,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
28,paper,US88160R1014,buy,1,xmun,NaN,100.0,Api Test,2021-12-30T22:59:00+00:00,None,...,NaN,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
29,paper,US88160R1014,sell,1,xmun,NaN,NaN,None,2021-12-29T22:59:00+00:00,None,...,9456000.0,2021-12-29T15:42:56.843000+00:00,2021-12-29T15:42:58.169000+00:00,None,None,0,2021-12-29T15:42:58.169000+00:00,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,"{'costs_exit': 0.0, 'costs_product': 0.0, 'cos..."
30,paper,US88160R1014,buy,1,allday,NaN,1000.0,Api Test,2021-12-29T22:59:00+00:00,None,...,9785000.0,2021-12-28T11:39:38.637000+00:00,2021-12-28T11:39:38.903000+00:00,None,None,0,2021-12-28T11:39:38.903000+00:00,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
31,paper,US88160R1014,buy,1,xmun,NaN,1000.0,None,2021-12-28T22:59:00+00:00,None,...,NaN,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
32,paper,US88160R1014,buy,1,allday,NaN,1000.0,Api Test,2021-12-29T22:59:00+00:00,None,...,NaN,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
33,paper,US88160R1014,buy,1,allday,NaN,1000.0,Api Test,2021-12-29T22:59:00+00:00,None,...,NaN,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
34,paper,US88160R1014,buy,1,allday,NaN,1000.0,Api Test,2021-12-29T22:59:00+00:00,None,...,NaN,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
35,paper,US88160R1014,buy,1,allday,NaN,1000.0,Api Test,2021-12-29T22:59:00+00:00,None,...,NaN,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
36,paper,US88160R1014,buy,1,allday,NaN,1000.0,Api Test,2021-12-29T22:59:00+00:00,None,...,NaN,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
37,paper,US88160R1014,buy,1,allday,NaN,1000.0,Api Test,2021-12-29T22:59:00+00:00,None,...,NaN,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."
38,paper,US88160R1014,buy,1,allday,NaN,1000.0,Api Test,2021-12-29T22:59:00+00:00,None,...,NaN,None,None,None,None,0,None,apk_pyQbNllFFG7zY9KRp9sPF2WYw9bncTZRgs,None,"{'KIID': 'text', 'costs_exit': 20000, 'costs_e..."

# Market Data

Account must still be initialized before to set Credentials.

In [19]:
m = MarketData()

In [20]:
m.search_instrument("XTRACKERS")

,isin,wkn,name,title,symbol,type,venues
0,LU0292097747,DBX1FA,XTRACKERS MSCI UK ESG 1D,XTRACKERS MSCI UK ESG UC.ETF,DBXZ,etf,"[{'name': 'Brse Mnchen - Gettex', 'title': '..."
1,LU0274211217,DBX1EU,XTR.EURO STOXX 50 1D,XTRACKERS EURO STOXX 50,DBXE,etf,"[{'name': 'Brse Mnchen - Gettex', 'title': '..."
2,LU0292107645,DBX1EM,XTR.MSCI EM.MKT.SWAP 1C,XTRACKERS MSCI EMERG.MKTS SWAP,DBX1,etf,"[{'name': 'Brse Mnchen - Gettex', 'title': '..."
3,LU0292109187,DBX1MT,XTR.MSCI TAIWAN 1C,XTRACKERS MSCI TAIWAN,DBX5,etf,"[{'name': 'Brse Mnchen - Gettex', 'title': '..."
4,LU0321465469,DBX0A0,XTR.II USD OV.RATE SW. 1C,XTRACKERS II USD OVER.RATE SW.,DXSZ,etf,"[{'name': 'Brse Mnchen - Gettex', 'title': '..."
...,...,...,...,...,...,...,...
74,LU0820950128,DBX0ND,XTR.II EUR COV.BD SWAP 1C,XTRACKERS II EUR COV.BOND SWAP,XLIQ,etf,"[{'name': 'Brse Mnchen - Gettex', 'title': '..."
75,LU0839027447,DBX0NJ,XTR.NIKKEI 225 1D,XTRACKERS NIKKEI 225,XDJP,etf,"[{'name': 'Brse Mnchen - Gettex', 'title': '..."
76,LU0927735406,DBX0NT,XTR.MSCI JAPAN 2DDLH,XTRACKERS MSCI JAPAN,XMUJ,etf,"[{'name': 'Brse Mnchen - Gettex', 'title': '..."
77,LU1215828218,DBX0Q1,XTR.MSCI EMU 3CSFH,XTRACKERS MSCI EMU,XDUE,etf,"[{'name': 'Brse Mnchen - Gettex', 'title': '..."
78,LU2196472984,A2P7NV,XTR.S+P500SUETF 5CEOH,XTRACKERS S&P 500 SWAP,XS5E,etf,"[{'name': 'Brse Mnchen - Gettex', 'title': '..."

In [21]:
m.trading_venues()

,name,title,mic,is_open,opening_hours,opening_days
0,Brse Mnchen - Gettex,Gettex,XMUN,True,"{'start': '08:00', 'end': '22:00', 'timezone':...","[2022-04-05, 2022-04-06, 2022-04-07, 2022-04-0..."
1,Brse Mnchen - LM Best Performance,LM Best Performance,LMBPX,True,"{'start': '08:00', 'end': '22:00', 'timezone':...","[2022-04-05, 2022-04-06, 2022-04-07, 2022-04-0..."

In [23]:
m.ohlc(isin="US0231351067",timespan="d", start=datetime.fromisoformat("2021-11-01"),end=datetime.fromisoformat("2021-11-26"))

,isin,o,h,l,c,v,pbv,t,mic
0,US0231351067,2911.0,2926.0,2842.0,2857.0,1131,3264186.0,2021-11-01T00:00:00.000+00:00,XMUN
1,US0231351067,2854.0,2869.5,2833.5,2857.0,546,1557555.0,2021-11-02T00:00:00.000+00:00,XMUN
2,US0231351067,2865.0,2925.5,2850.0,2910.5,868,2504991.0,2021-11-03T00:00:00.000+00:00,XMUN
3,US0231351067,2921.0,3029.5,2912.0,3008.0,1786,5315760.0,2021-11-04T00:00:00.000+00:00,XMUN
4,US0231351067,2980.5,3081.5,2980.5,3038.0,815,2475994.5,2021-11-05T00:00:00.000+00:00,XMUN
5,US0231351067,3035.5,3092.0,3011.5,3011.5,646,1965720.0,2021-11-08T00:00:00.000+00:00,XMUN
6,US0231351067,3006.0,3099.5,3003.5,3080.0,650,1988886.5,2021-11-09T00:00:00.000+00:00,XMUN
7,US0231351067,3065.5,3131.0,3016.0,3039.0,816,2520803.0,2021-11-10T00:00:00.000+00:00,XMUN
8,US0231351067,3045.5,3087.5,3031.0,3031.0,902,2758435.0,2021-11-11T00:00:00.000+00:00,XMUN
9,US0231351067,3041.5,3093.5,3014.5,3079.0,1133,3454978.0,2021-11-12T00:00:00.000+00:00,XMUN
10,US0231351067,3075.5,3140.5,3070.5,3120.0,954,2969293.0,2021-11-15T00:00:00.000+00:00,XMUN
11,US0231351067,3129.5,3146.0,3109.5,3127.0,656,2051615.5,2021-11-16T00:00:00.000+00:00,XMUN
12,US0231351067,3126.5,3169.0,3126.5,3135.0,841,2648314.0,2021-11-17T00:00:00.000+00:00,XMUN
13,US0231351067,3138.5,3258.5,3134.0,3255.5,990,3165983.0,2021-11-18T00:00:00.000+00:00,XMUN
14,US0231351067,3255.0,3322.5,3255.0,3259.5,1224,4024429.5,2021-11-19T00:00:00.000+00:00,XMUN
15,US0231351067,3289.5,3300.0,3172.5,3179.5,1327,4290966.5,2021-11-22T00:00:00.000+00:00,XMUN
16,US0231351067,3181.0,3216.5,3132.0,3181.0,902,2849211.0,2021-11-23T00:00:00.000+00:00,XMUN
17,US0231351067,3180.5,3229.0,3158.0,3198.5,875,2793726.5,2021-11-24T00:00:00.000+00:00,XMUN
18,US0231351067,3200.5,3220.0,3199.0,3216.0,1044,3353913.5,2021-11-25T00:00:00.000+00:00,XMUN
19,US0231351067,3185.0,3217.5,3092.5,3097.5,1874,5895411.0,2021-11-26T00:00:00.000+00:00,XMUN

In [25]:
m.latest_quote(isin="DE0005933931",venue=VENUE.GETTEX)

{'isin': 'DE0005933931',
 'b_v': 170,
 'a_v': 170,
 'b': 1217000,
 'a': 1217600,
 't': '2022-04-05T19:59:37.000+00:00',
 'mic': 'XMUN'}