# Setup

In [1]:
from lemon.core.account import Account
from lemon.core.market import MarketData
from lemon.core.orders import  Order
from lemon.client.auth import credentials

In [2]:
cred = credentials()
acc = Account(credentials=cred)

## Account

In [3]:
acc.balance

995171000

In [18]:
acc.positions()

[{'isin': 'US88160R1014',
  'isin_title': 'TESLA INC.',
  'quantity': 1,
  'buy_price_avg': 9171000,
  'estimated_price_total': 9171000,
  'estimated_price': 9171000}]

In [ ]:
acc.withdrawls()

In [8]:
acc.withdraw(amount=100000, pin=1234)

'ok'

## Trading

In [ ]:
ord = Order(isin="US88160R1014",quantity=1,side="buy",venue="allday",expired_at="2022-03-31", trading_type="paper")
ord.place()

'Order with id: ord_qyFjZHH44VKbq7bJ13n4CL1wnPnY6T9Plh created!'

In [16]:
ord.cancel()

'ok'

In [ ]:
ord.activate()

# Market Data

Account must still be initialized before to set Credentials.

In [9]:
m = MarketData()

In [10]:
m.search_instrument("XTRACKERS")

,isin,wkn,name,title,symbol,type,venues
0,LU0292097747,DBX1FA,XTRACKERS MSCI UK ESG 1D,XTRACKERS MSCI UK ESG UC.ETF,DBXZ,etf,"[{'name': 'Börse München - Gettex', 'title': '..."
1,LU0274211217,DBX1EU,XTR.EURO STOXX 50 1D,XTRACKERS EURO STOXX 50,DBXE,etf,"[{'name': 'Börse München - Gettex', 'title': '..."
2,LU0292107645,DBX1EM,XTR.MSCI EM.MKT.SWAP 1C,XTRACKERS MSCI EMERG.MKTS SWAP,DBX1,etf,"[{'name': 'Börse München - Gettex', 'title': '..."
3,LU0292109187,DBX1MT,XTR.MSCI TAIWAN 1C,XTRACKERS MSCI TAIWAN,DBX5,etf,"[{'name': 'Börse München - Gettex', 'title': '..."
4,LU0321465469,DBX0A0,XTR.II USD OV.RATE SW. 1C,XTRACKERS II USD OVER.RATE SW.,DXSZ,etf,"[{'name': 'Börse München - Gettex', 'title': '..."
...,...,...,...,...,...,...,...
74,LU0820950128,DBX0ND,XTR.II EUR COV.BD SWAP 1C,XTRACKERS II EUR COV.BOND SWAP,XLIQ,etf,"[{'name': 'Börse München - Gettex', 'title': '..."
75,LU0839027447,DBX0NJ,XTR.NIKKEI 225 1D,XTRACKERS NIKKEI 225,XDJP,etf,"[{'name': 'Börse München - Gettex', 'title': '..."
76,LU0927735406,DBX0NT,XTR.MSCI JAPAN 2DDLH,XTRACKERS MSCI JAPAN,XMUJ,etf,"[{'name': 'Börse München - Gettex', 'title': '..."
77,LU1215828218,DBX0Q1,XTR.MSCI EMU 3CSFH,XTRACKERS MSCI EMU,XDUE,etf,"[{'name': 'Börse München - Gettex', 'title': '..."
78,LU2196472984,A2P7NV,XTR.S+P500SUETF 5CEOH,XTRACKERS S&P 500 SWAP,XS5E,etf,"[{'name': 'Börse München - Gettex', 'title': '..."

In [11]:
m.trading_venues()

,name,title,mic,is_open,opening_hours,opening_days
0,Börse München - Gettex,Gettex,XMUN,False,"{'start': '08:00', 'end': '22:00', 'timezone':...","[2022-03-28, 2022-03-29, 2022-03-30, 2022-03-3..."
1,Börse München - LM Best Performance,LM Best Performance,LMBPX,False,"{'start': '08:00', 'end': '22:00', 'timezone':...","[2022-03-28, 2022-03-29, 2022-03-30, 2022-03-3..."

In [6]:
m.ohlc(isin="US0231351067",timespan="d", start="2021-11-01",end="2021-11-26")

,isin,o,h,l,c,v,pbv,t,mic
0,US0231351067,2911.0,2926.0,2842.0,2857.0,1131,3264186.0,2021-11-01T00:00:00.000+00:00,XMUN
1,US0231351067,2854.0,2869.5,2833.5,2857.0,546,1557555.0,2021-11-02T00:00:00.000+00:00,XMUN
2,US0231351067,2865.0,2925.5,2850.0,2910.5,868,2504991.0,2021-11-03T00:00:00.000+00:00,XMUN
3,US0231351067,2921.0,3029.5,2912.0,3008.0,1786,5315760.0,2021-11-04T00:00:00.000+00:00,XMUN
4,US0231351067,2980.5,3081.5,2980.5,3038.0,815,2475994.5,2021-11-05T00:00:00.000+00:00,XMUN
5,US0231351067,3035.5,3092.0,3011.5,3011.5,646,1965720.0,2021-11-08T00:00:00.000+00:00,XMUN
6,US0231351067,3006.0,3099.5,3003.5,3080.0,650,1988886.5,2021-11-09T00:00:00.000+00:00,XMUN
7,US0231351067,3065.5,3131.0,3016.0,3039.0,816,2520803.0,2021-11-10T00:00:00.000+00:00,XMUN
8,US0231351067,3045.5,3087.5,3031.0,3031.0,902,2758435.0,2021-11-11T00:00:00.000+00:00,XMUN
9,US0231351067,3041.5,3093.5,3014.5,3079.0,1133,3454978.0,2021-11-12T00:00:00.000+00:00,XMUN
10,US0231351067,3075.5,3140.5,3070.5,3120.0,954,2969293.0,2021-11-15T00:00:00.000+00:00,XMUN
11,US0231351067,3129.5,3146.0,3109.5,3127.0,656,2051615.5,2021-11-16T00:00:00.000+00:00,XMUN
12,US0231351067,3126.5,3169.0,3126.5,3135.0,841,2648314.0,2021-11-17T00:00:00.000+00:00,XMUN
13,US0231351067,3138.5,3258.5,3134.0,3255.5,990,3165983.0,2021-11-18T00:00:00.000+00:00,XMUN
14,US0231351067,3255.0,3322.5,3255.0,3259.5,1224,4024429.5,2021-11-19T00:00:00.000+00:00,XMUN
15,US0231351067,3289.5,3300.0,3172.5,3179.5,1327,4290966.5,2021-11-22T00:00:00.000+00:00,XMUN
16,US0231351067,3181.0,3216.5,3132.0,3181.0,902,2849211.0,2021-11-23T00:00:00.000+00:00,XMUN
17,US0231351067,3180.5,3229.0,3158.0,3198.5,875,2793726.5,2021-11-24T00:00:00.000+00:00,XMUN
18,US0231351067,3200.5,3220.0,3199.0,3216.0,1044,3353913.5,2021-11-25T00:00:00.000+00:00,XMUN
19,US0231351067,3185.0,3217.5,3092.5,3097.5,1874,5895411.0,2021-11-26T00:00:00.000+00:00,XMUN

In [12]:
m.quotes(isin="DE0005933931",mic="XMUN")

           isin  b_v  a_v       b       a                              t   mic
0  DE0005933931  170  170  121.82  121.88  2022-03-25T20:59:55.000+00:00  XMUN